<div class="row mx-4">
    <div class="col-7 p-5">
        <h2>The First Heading</h1><h1 class="text-secondary">Will Catch Your Eye</h2>
        <p>The is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution</p>
    </div>
    <div class="col-5 p-5 d-flex">
        <img src="assets/img/1.jpg" class="img-fluid rounded-circle w-50 m-auto" alt="No">
    </div>
</div>
