<div class="row">
    <div class="col 12">
        <h2>Porfolio</h2>
        <p>The and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in</p>
    </div>
</div>
<div class="row p-5">
    <div class="col 4">
        <div class="card border-0" style="width: 18rem;">
            <img class="card-img-top" src="assets/img/big-project-image.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
            </div>
          </div>
    </div>
    <div class="col 4">
        <div class="card border-0" style="width: 18rem;">
            <img class="card-img-top" src="assets/img/big-project-image.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            </div>
          </div>
    </div>
    <div class="col 4">
        <div class="card border-0" style="width: 18rem;">
            <img class="card-img-top" src="assets/img/big-project-image.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
            </div>
          </div>
    </div>
</div>
