<div class="row">
    <div class="col-5 p-5 d-flex">
        <img src="assets/img/2.jpg" class="img-fluid rounded-circle w-50 m-auto" alt="No">
    </div>
    <div class="col-7 p-5">
        <h2>The Second Heading</h1><h1 class="text-secondary">Is Pretty Cool Too</h2>
        <p>The readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
    </div>
</div>